aiohttp==3.8.3
aiosignal==1.4.0
asgiref==3.9.1
async-timeout==4.0.3
attrs==25.3.0
charset-normalizer==2.1.1
click==8.0.4
contextvars==2.4
Django==4.2.3
frozenlist==1.7.0
gunicorn==20.1.0
idna==3.10
immutables==0.21
Jinja2==3.0.0
MarkupSafe==3.0.2
multidict==4.5.0
Pillow==10.0.0
propcache==0.3.2
sqlparse==0.5.3
typing_extensions==4.2.0
yarl==1.20.1
